<!DOCTYPE html>
<html>
<body>
<h2>Crop Prediction</h2>
<img src="/static/logo.png" class="logo">

<form method="POST" action="/predict">

    <label>Crop</label>
    <select name="crop" required>
        <option>Wheat</option>
        <option>Rice</option>
        <option>Soybean</option>
        <option>Cotton</option>
    </select><br><br>

    <label>Place</label>
    <input type="text" name="place" required><br><br>

    <label>Date</label>
    <input type="date" name="date" required><br><br>

    <button type="submit">Predict</button>
</form>

</body>
</html>     

